<!DOCTYPE html>
<html>
  <head>
    <title>Top25App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <div class="z-0 relative w-full flex filter overflow-hidden" id="main-page">
        <div class="w-2/12 h-screen bg-blue-400"></div>
    
        <%= yield %>
      </div>
      <div id="form-background" class="z-10 absolute top-0 w-full h-screen hidden flex place-items-center justify-center">
        <div class="bg-gray-200 flex p-5 max-height-screen overflow-auto ring-2 ring-black ring-opacity-50 rounded-sm" id="gray-background">
        </div>
      </div>
    </div>
    <template id="grey-background">
      
    </template>
  </body>
</html>
