<!DOCTYPE html>
<html>
  <head>
    <title>Top25App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="w-full flex" id="main-page">
      <div class="w-2/12 h-screen bg-blue-400">
      </div>
    

      <%= yield %>
    </div>

    <template id="grey-background">
      <div class="bg-blue-200 flex flex-col w-1/12 h-62 z-30">

      </div>
    </template>
  </body>
</html>
