<div class="w-6/12 h-full flex flex-col" id="account-select">
  <div class="search flex w-10/12 overflow-y-auto h-8 my-4 overflow-y-auto self-center ">
    <%= form_with url: select_accounts_path, class: "w-full", id: "select-accounts-form", method: :get do |f| %>
      <%= f.select :account, @accounts.map {|account| [account.name, account.id ]}, {include_blank: "Select Account"}, {class: "select-accounts w-10/12 border-black border-2"} %>
  
      <%= f.submit "Go", class: "w-12 h-8 bg-blue-600 text-indigo-100 text-center mx-4" %>
    <% end %>
    <button class="filter-accounts w-16 h-8 bg-blue-600 text-indigo-100 text-center border">Filter</button>
  </div>
</div>

<%= javascript_include_tag "account_selected" %>

<!-- Templates -->

<template id="account-show">
  <div class="w-11/12 h-64 self-center flex flex-col">
    <div>

    </div>
    <div id="contacts" class="">
  
    </div>
    <div id="tasks">
  
    </div>
    <div id="opportunities" class="w-full self-center flex flex-col">
      <h1 class="text-center">Opportunities</h1>
      <div>
        <table id="opportunities-table">
          <thead class="space-x-3">
            <th class="w-1/12"></th>
            <th class="w-4/12 text-center">Description:</th>
            <th class="w-2/12 text-center">Closing Date</th>
            <th class="w-2/12 text-center">Next Task Due</th>
            <th class="w-2/12 text-center">Last Activity Completed</th>
          </thead>
        </table>
      </div>
  
    </div>
    <div id="assets" class="">
  
    </div>
  </div>
</template>

<template id="accounts-filter-list">
</template>

<template id="opportunity-side-window">
  <div class="flex flex-col w-4/12 h-screen">
    <div class="absolute top-0 right-0 cursor-pointer" id="side-window-close">&#10006;</div>
    <div class="flex flex-col my-3">
      <div class="flex flex-col">
        <label class="text-center mb-1">Description</label>
        <textarea class="w-8/12 mx-auto text-center" id="opp-side-desc"></textarea>
      </div>
      <div class="flex flex-wrap w-10/12 mx-auto">
        <div class="flex flex-col mb-3 w-5/12">
          <label class="text-center mb-1">Close Date</label>
          <input class= "w-36 mx-auto"id="opp-side-close-date" type="date">
        </div>
        <div class="flex flex-col mb-3 w-5/12">
          <label class="text-center mb-1">Next Task Due</label>
          <h2 class="text-center">Due Date</h2>
        </div>
        <div class="flex flex-col mb-3 w-5/12">
          <label class="text-center mb-1">Close Date</label>
          <input class= "w-36 mx-auto"id="opp-side-close-date" type="date">
        </div>
        <div class="flex flex-col mb-3 w-5/12">
          <label class="text-center mb-1">Close Date</label>
          <input class= "w-36 mx-auto"id="opp-side-close-date" type="date">
        </div>
      </div>
    </div>
    <h2 class="text-center bg-blue-300 text-black font-bold">Open Tasks</h2>
    <div id="opportunity-tasks-open" class="mb-5">
      <table>
        <thead>
          <th>
            <div class="flex">
              <div class="cursor-pointer mr-0">&#x2b;</div>
            </div>
          </th>
          <th class="text-center text-xs w-3/12">Description</th>
          <th class="text-center text-xs w-2/12">Type</th>
          <th class="text-center text-xs w-2/12">Subtype</th>
          <th class="text-center text-xs w-3/12">Due Date</th>
        </thead>
      </table>
    </div>
    <h2 class="text-center bg-blue-300 text-black font-bold">Completed Tasks</h2>
    <div id="opportunity-tasks-completed">
      <table>
        <thead>
          <th>
            <div class="flex">
              <div class="cursor-pointer mr-0">&#x2b;</div>
            </div>
          </th>
          <th class="text-center text-xs w-3/12">Description</th>
          <th class="text-center text-xs w-3/12">Type</th>
          <th class="text-center text-xs w-3/12">Subtype</th>
          <th class="text-center text-xs w-3/12">Due Date</th>
        </thead>
      </table>
    </div>
    <div>
      <!-- opportunity assets -->
    </div>
  </div>
</template>

<template id="task-side-window">
</template>

<template id="popup-background">
  <div class="popup-background">

  </div>
</template>

<template>
  <div class="popup-window-background">
  </div>
</template>
